body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    background-image: url(/static/images/space-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.logo {
    max-width: 150px;
    margin-bottom: 20px;
}
.heading-container h1 {
    margin: 0;
    font-size: 3em;
    color: #09ff00;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #09ff00;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
button {
    padding: 10px 20px;
    background-color: #09ff00;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #00b312;
    transform: scale(1.1);
}
.gradient-box {
    background: linear-gradient(135deg, rgba(9, 255, 0, 0.7), rgba(0, 179, 18, 0.7));
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.gradient-box a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
} 
