<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortened URL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="/static/images/LW1 (light).png" alt="Logo" class="logo">
        <div class="heading-container">
            <h1>Shortened URL</h1>
        </div>
    </header>
    <div class="gradient-box-container">
        <div class="gradient-box">
            <p>The Shortened URL is below. <br>Click to copy.</p>
            <a href="{{ short_url }}">{{ short_url }}</a>
        </div>
    </div>
</body>
</html>
